.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  max-width: 100vw;
  height: 56px;
  font-size: 0.6rem;
  color: #f5f5f5;
  background-color: #171717;
  z-index: 9;
}
.header .container {
  height: 100%;
}
.header__container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.header__logo {
  display: grid;
  align-items: center;
}
.header__logo a {
  padding: 4px;
  border-radius: 0.5rem;
  transition: all 0.5 ease;
}
.header__logo a:hover {
  background-color: rgba(255, 255, 255, 0.096);
}
.header__logo svg {
  width: 32px;
  height: 32px;
}
.header__menu {
  height: 100%;
}
.header__search svg {
  margin-right: 0.4rem;
  width: 1rem;
  height: 1rem;
}
.header__row2 {
  position: relative;
  gap: 0;
}
.header__row2 .header__list li:last-of-type {
  display: none;
}
.header__setting {
  padding: 0.4rem;
}
.header .setting__svg:hover {
  fill: #1976d2;
}
.header .profile__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4rem 1rem;
  color: #fff;
  background-color: #1976d2;
  border: none;
  border-radius: 1.2rem;
  cursor: pointer;
}
.header .profileImage {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background-size: contain;
  overflow: hidden;
  cursor: pointer;
}
.header .profile__btn:active {
  transform: scale(0.9);
}
.header__switchTheme {
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 20px;
  background-color: black;
  border-radius: 1rem;
}
.header__switchTheme input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.header__switchTheme span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: inherit;
  height: inherit;
  transition: 0.4s;
  cursor: pointer;
}
.header__switchTheme span::before {
  position: absolute;
  content: "";
  height: 17px;
  width: 17px;
  top: 1px;
  right: 2px;
  background-color: gray;
  transition: 0.4s;
  border-radius: 1rem;
}
.header__switchTheme input:checked + span::before {
  transform: translateX(-19px);
  background-color: white;
}
.header__switchTheme svg {
  width: 14px;
  height: 14px;
}

.menu__swipe {
  position: absolute;
  display: none;
  top: 100%;
  right: 0;
  height: -moz-max-content;
  height: max-content;
  width: 300px;
  font-size: 0.7rem;
  padding: 1rem 1.2rem;
  background-color: #222223;
  border-radius: 0.8rem;
}
.menu__swipe .swipe__list {
  display: grid;
  gap: 1em;
}
.menu__swipe .swipe__list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu__swipe .swipe__list li button {
  padding: 0.2rem 0.5rem;
  color: white;
  background-color: #1976d2;
  border: none;
  border-radius: 1rem;
}
.menu__swipe .swipe__list li svg {
  width: 25px;
  height: 25px;
}
.menu__swipe .swipe__list .list__1 {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 1rem;
  gap: 1rem;
  width: 100%;
}
.menu__swipe .swipe__list .list__1 img {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.menu__swipe .swipe__list .list__1 h6 {
  font-size: 0.8rem;
  font-weight: 600;
}
.menu__swipe .swipe__list .swipe__goout {
  position: relative;
}
.menu__swipe.active__swipe {
  display: block;
}