<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <div class="footer__content">
        <h4 class="content__link"><a href="#">ReManga</a></h4>
        <p>Read manga online in English</p>
        <span>We are always ready to answer your questions!</span>
        <a class="content__question" href="">Ask a Question</a>
      </div>
      <div class="footer__divide foot">
        <h3 class="foot__title">DIVIDE</h3>
        <ul class="foot__list">
          <li><a href="#">SITE RULES</a></li>
          <li><a href="#">DMCA</a></li>
          <li><a href="#">COPYRIGHT</a></li>
          <li><a href="#">ABOUT US</a></li>
        </ul>
      </div>
      <div class="footer__info foot">
        <h3 class="foot__title">INFO</h3>
        <ul class="foot__list">
          <li><a href="#">TERMS OF USE</a></li>
          <li><a href="#">AGENCY CONTRACT</a></li>
          <li><a href="#">PRIVACY AGREEMENT</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="footer__contact">
        <h3 class="contact__title">CONTACTS</h3>
        <div class="footer__social">
          <a href="">
            <svg class="SvgIcon_root__keb_Y" focusable="false" viewBox="0 0 576 512" aria-hidden="true">
              <path
                d="M545 117.7c3.7-12.5 0-21.7-17.8-21.7h-58.9c-15 0-21.9 7.9-25.6 16.7 0 0-30 73.1-72.4 120.5-13.7 13.7-20 18.1-27.5 18.1-3.7 0-9.4-4.4-9.4-16.9V117.7c0-15-4.2-21.7-16.6-21.7h-92.6c-9.4 0-15 7-15 13.5 0 14.2 21.2 17.5 23.4 57.5v86.8c0 19-3.4 22.5-10.9 22.5-20 0-68.6-73.4-97.4-157.4-5.8-16.3-11.5-22.9-26.6-22.9H38.8c-16.8 0-20.2 7.9-20.2 16.7 0 15.6 20 93.1 93.1 195.5C160.4 378.1 229 416 291.4 416c37.5 0 42.1-8.4 42.1-22.9 0-66.8-3.4-73.1 15.4-73.1 8.7 0 23.7 4.4 58.7 38.1 40 40 46.6 57.9 69 57.9h58.9c16.8 0 25.3-8.4 20.4-25-11.2-34.9-86.9-106.7-90.3-111.5-8.7-11.2-6.2-16.2 0-26.2.1-.1 72-101.3 79.4-135.6z">
              </path>
            </svg>
          </a>
          <a href="">
            <svg class="SvgIcon_root__keb_Y" focusable="false" viewBox="0 0 448 512" aria-hidden="true">
              <path fill="currentColor"
                d="M297.216 243.2c0 15.616-11.52 28.416-26.112 28.416-14.336 0-26.112-12.8-26.112-28.416s11.52-28.416 26.112-28.416c14.592 0 26.112 12.8 26.112 28.416zm-119.552-28.416c-14.592 0-26.112 12.8-26.112 28.416s11.776 28.416 26.112 28.416c14.592 0 26.112-12.8 26.112-28.416.256-15.616-11.52-28.416-26.112-28.416zM448 52.736V512c-64.494-56.994-43.868-38.128-118.784-107.776l13.568 47.36H52.48C23.552 451.584 0 428.032 0 398.848V52.736C0 23.552 23.552 0 52.48 0h343.04C424.448 0 448 23.552 448 52.736zm-72.96 242.688c0-82.432-36.864-149.248-36.864-149.248-36.864-27.648-71.936-26.88-71.936-26.88l-3.584 4.096c43.52 13.312 63.744 32.512 63.744 32.512-60.811-33.329-132.244-33.335-191.232-7.424-9.472 4.352-15.104 7.424-15.104 7.424s21.248-20.224 67.328-33.536l-2.56-3.072s-35.072-.768-71.936 26.88c0 0-36.864 66.816-36.864 149.248 0 0 21.504 37.12 78.08 38.912 0 0 9.472-11.52 17.152-21.248-32.512-9.728-44.8-30.208-44.8-30.208 3.766 2.636 9.976 6.053 10.496 6.4 43.21 24.198 104.588 32.126 159.744 8.96 8.96-3.328 18.944-8.192 29.44-15.104 0 0-12.8 20.992-46.336 30.464 7.68 9.728 16.896 20.736 16.896 20.736 56.576-1.792 78.336-38.912 78.336-38.912z">
              </path>
            </svg>
          </a>
          <a href="">
            <svg class="SvgIcon_root__keb_Y" focusable="false" viewBox="0 0 496 512" aria-hidden="true">
              <path fill="currentColor"
                d="M248 8C111 8 0 119 0 256s111 248 248 248 248-111 248-248S385 8 248 8zm121.8 169.9l-40.7 191.8c-3 13.6-11.1 16.9-22.4 10.5l-62-45.7-29.9 28.8c-3.3 3.3-6.1 6.1-12.5 6.1l4.4-63.1 114.9-103.8c5-4.4-1.1-6.9-7.7-2.5l-142 89.4-61.2-19.1c-13.3-4.2-13.6-13.3 2.8-19.7l239.1-92.2c11.1-4 20.8 2.7 17.2 19.5z">
              </path>
            </svg>
          </a>
          <a href="">
            <svg class="SvgIcon_root__keb_Y" focusable="false" viewBox="0 0 448 512" aria-hidden="true">
              <path fill="currentColor"
                d="M448,209.91a210.06,210.06,0,0,1-122.77-39.25V349.38A162.55,162.55,0,1,1,185,188.31V278.2a74.62,74.62,0,1,0,52.23,71.18V0l88,0a121.18,121.18,0,0,0,1.86,22.17h0A122.18,122.18,0,0,0,381,102.39a121.43,121.43,0,0,0,67,20.14Z">
              </path>
            </svg>
          </a>
        </div>
        <p>remanga.org © 2023</p>
      </div>
    </div>
  </div>
</footer>