<header class="header">
  <div class="container">
    <div class="header__container">
      <div class="header__row1 row">
        <div class="header__logo">
          <a href="/">
            <svg focusable="false" viewBox="0 0 496 512" aria-hidden="true">
              <path fill="white"
                d="M248 8C111.03 8 0 119.03 0 256s111.03 248 248 248 248-111.03 248-248S384.97 8 248 8zm0 376c-17.67 0-32-14.33-32-32s14.33-32 32-32 32 14.33 32 32-14.33 32-32 32zm0-128c-53.02 0-96 42.98-96 96s42.98 96 96 96c-106.04 0-192-85.96-192-192S141.96 64 248 64c53.02 0 96 42.98 96 96s-42.98 96-96 96zm0-128c-17.67 0-32 14.33-32 32s14.33 32 32 32 32-14.33 32-32-14.33-32-32-32z">
              </path>
            </svg>
          </a>
        </div>
        <nav class="header__menu">
          <ul class="header__list menu">
            <li><a href="/catalog?page=1&limit=20">КАТАЛОГ</a></li>
            <li><a href="">В ТОПЕ</a></li>
            <li><a class="header__search" href="">
                <svg focusable="false" viewBox="0 0 24 24" aria-hidden="true" fill="white">
                  <path
                    d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z">
                  </path>
                </svg>
                ПОИСК</a></li>
          </ul>
        </nav>
      </div>
      <div class="header__row2 row">
        <nav class="header__menu">
          <ul class="header__list menu">
            <li class="bookmarks"><a href="">ЗАКЛАДКИ</a></li>
            <li>
              <a class="header__notification" href="">
                <svg fill="white" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                  <path
                    d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.89 2 2 2zm6-6v-5c0-3.07-1.64-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68C7.63 5.36 6 7.92 6 11v5l-2 2v1h16v-1l-2-2z">
                  </path>
                </svg>
              </a>
            </li>
          </ul>
        </nav>
        <div class="header__switchTheme">
          <input type="checkbox">
          <span>
            <svg fill="orange" focusable="false" viewBox="0 0 512 512" aria-hidden="true">
              <path
                d="M283.211 512c78.962 0 151.079-35.925 198.857-94.792 7.068-8.708-.639-21.43-11.562-19.35-124.203 23.654-238.262-71.576-238.262-196.954 0-72.222 38.662-138.635 101.498-174.394 9.686-5.512 7.25-20.197-3.756-22.23A258.156 258.156 0 0 0 283.211 0c-141.309 0-256 114.511-256 256 0 141.309 114.511 256 256 256z">
              </path>
            </svg>
            <svg fill="orange" focusable="false" viewBox="0 0 512 512" aria-hidden="true">
              <path
                d="M256 160c-52.9 0-96 43.1-96 96s43.1 96 96 96 96-43.1 96-96-43.1-96-96-96zm246.4 80.5l-94.7-47.3 33.5-100.4c4.5-13.6-8.4-26.5-21.9-21.9l-100.4 33.5-47.4-94.8c-6.4-12.8-24.6-12.8-31 0l-47.3 94.7L92.7 70.8c-13.6-4.5-26.5 8.4-21.9 21.9l33.5 100.4-94.7 47.4c-12.8 6.4-12.8 24.6 0 31l94.7 47.3-33.5 100.5c-4.5 13.6 8.4 26.5 21.9 21.9l100.4-33.5 47.3 94.7c6.4 12.8 24.6 12.8 31 0l47.3-94.7 100.4 33.5c13.6 4.5 26.5-8.4 21.9-21.9l-33.5-100.4 94.7-47.3c13-6.5 13-24.7.2-31.1zm-155.9 106c-49.9 49.9-131.1 49.9-181 0-49.9-49.9-49.9-131.1 0-181 49.9-49.9 131.1-49.9 181 0 49.9 49.9 49.9 131.1 0 181z">
              </path>
            </svg>
          </span>
        </div>
        <a class="header__setting" href="">
          <svg class="setting__svg" fill="gray" focusable="false" viewBox="0 0 24 24" aria-hidden="true"
            aria-label="Preferences">
            <path
              d="M19.14 12.94c.04-.3.06-.61.06-.94 0-.32-.02-.64-.07-.94l2.03-1.58c.18-.14.23-.41.12-.61l-1.92-3.32c-.12-.22-.37-.29-.59-.22l-2.39.96c-.5-.38-1.03-.7-1.62-.94l-.36-2.54c-.04-.24-.24-.41-.48-.41h-3.84c-.24 0-.43.17-.47.41l-.36 2.54c-.59.24-1.13.57-1.62.94l-2.39-.96c-.22-.08-.47 0-.59.22L2.74 8.87c-.12.21-.08.47.12.61l2.03 1.58c-.05.3-.09.63-.09.94s.02.64.07.94l-2.03 1.58c-.18.14-.23.41-.12.61l1.92 3.32c.12.22.37.29.59.22l2.39-.96c.5.38 1.03.7 1.62.94l.36 2.54c.05.24.24.41.48.41h3.84c.24 0 .44-.17.47-.41l.36-2.54c.59-.24 1.13-.56 1.62-.94l2.39.96c.22.08.47 0 .59-.22l1.92-3.32c.12-.22.07-.47-.12-.61l-2.01-1.58zM12 15.6c-1.98 0-3.6-1.62-3.6-3.6s1.62-3.6 3.6-3.6 3.6 1.62 3.6 3.6-1.62 3.6-3.6 3.6z">
            </path>
          </svg>
        </a>
        <div class="header__profile">
          <button class="profile__btn">
            <span>LOGIN</span>
          </button>
        </div>
        <div class="menu__swipe">
          <ul class="swipe__list">
            <li class="list__1">
              <img src="" alt="">
              <h6></h6>
            </li>
            <li>
              <span><b>0</b> монет</span>
              <button>Пополнить</button>
            </li>
            <li>
              <span>История прочтения</span>
              <svg fill="white" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                <path
                  d="M13 3c-4.97 0-9 4.03-9 9H1l3.89 3.89.07.14L9 12H6c0-3.87 3.13-7 7-7s7 3.13 7 7-3.13 7-7 7c-1.93 0-3.68-.79-4.94-2.06l-1.42 1.42C8.27 19.99 10.51 21 13 21c4.97 0 9-4.03 9-9s-4.03-9-9-9zm-1 5v5l4.28 2.54.72-1.21-3.5-2.08V8H12z">
                </path>
              </svg>
            </li>
            <li>
              <span>Сменить тему </span>
              <div></div>
            </li>
            <li class="swipe__goout">
              <span> Выйти </span>
              <svg fill="white" focusable="false" viewBox="0 0 24 24" aria-hidden="true">
                <path
                  d="M10.09 15.59L11.5 17l5-5-5-5-1.41 1.41L12.67 11H3v2h9.67l-2.58 2.59zM19 3H5c-1.11 0-2 .9-2 2v4h2V5h14v14H5v-4H3v4c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z">
                </path>
              </svg>
              <a href="" class="btnWrapper"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>