<div class="login">
	<div class="login__container">
		<form class="login__form" action="">
			<legend>Sign in to account</legend>
			<input id="login__username" type="text" placeholder="*Login">
			<input id="login__password" type="password" placeholder="*Password">
			<span>Forgot your password?</span>
			<button type="button" class="login__send">Sign in</button>
			<p>Don't have an account?</p>
			<span class="btnForReg">Register</span>
		</form>
	</div>
</div>