<div class="register">
	<div class="register__container">
		<form class="register__form" action="User.json">
			<legend>Register an account</legend>
			<input name="username" type="text" placeholder="*Nickname">
			<input name="mail" type="text" placeholder="*Email">
			<input name="password" type="password" placeholder="Password">
			<input type="password" placeholder="The password again">
			<button class="register__send">Sign in</button>
			<p>Already have an account?</p>
			<span class="btnForLog">Sign in</span>
		</form>
	</div>
</div>