.login {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  transition: all 0.3s ease;
}
.login__container {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
}
.login__container::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.667);
  z-index: 11;
}
.login__form {
  display: grid;
  padding: 3.2rem 2.7rem 2.4rem;
  background-color: #171717;
  border-radius: 0.8rem;
  z-index: 12;
}
.login__form legend {
  margin-bottom: 0.8rem;
  font-size: 0.9rem;
  color: hsla(0, 0%, 100%, 0.64);
}
.login__form input {
  width: 312px;
  padding: 0.6rem 0.5rem;
  margin-bottom: 0.6rem;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.43;
  background-color: #1f1f1f;
  border: none;
  border-radius: 0.5rem;
}
.login__form span {
  font-weight: 600;
  font-size: 0.7rem;
  color: #1976d2;
}
.login__form span:first-of-type {
  margin-bottom: 1.2rem;
  text-align: end;
}
.login__form .login__send {
  padding: 0.6rem;
  margin-bottom: 1.2rem;
  color: #fff;
  text-align: center;
  background-color: #1976d2;
  border: none;
  border-radius: 1.6rem;
}
.login__form p {
  margin-bottom: 0.4rem;
  color: hsla(0, 0%, 100%, 0.64);
  font-size: 0.7rem;
  text-align: center;
}
.login__form span:last-of-type {
  text-align: center;
  cursor: pointer;
}

.register {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
  transition: all 0.3s ease;
}
.register__container {
  display: grid;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  min-height: 100vh;
}
.register__container::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.667);
  z-index: 11;
}
.register__form {
  display: grid;
  gap: 0.6rem;
  padding: 3.2rem 2.7rem 2.4rem;
  background-color: #171717;
  border-radius: 0.8rem;
  z-index: 12;
}
.register__form legend {
  font-size: 0.9rem;
  color: hsla(0, 0%, 100%, 0.64);
}
.register__form input {
  width: 312px;
  padding: 0.6rem 0.5rem;
  color: #fff;
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 1.43;
  background-color: #1f1f1f;
  border: none;
  border-radius: 0.5rem;
}
.register__form button {
  padding: 0.6rem;
  margin-bottom: 1.2rem;
  color: #fff;
  background-color: #1976d2;
  border: none;
  border-radius: 1.6rem;
}
.register__form p {
  margin-bottom: 0.4rem;
  color: hsla(0, 0%, 100%, 0.64);
  font-size: 0.7rem;
  text-align: center;
}
.register__form span {
  text-align: center;
  font-weight: 600;
  font-size: 0.7rem;
  color: #1976d2;
  cursor: pointer;
}

.modal-open {
  opacity: initial;
  pointer-events: initial;
}