$text-secondary: hsla(0, 0%, 100%, 0.64);
body {
	background-color: #121212;
}
.mangaElement {
	padding: 80px 0;
	&__container {
		display: grid;
		grid-template-columns: max-content 1fr;
	}
	&__row1 {
		padding: 1rem 0;
		.row1__content {
			width: 250px;
			.row1__card {
				margin-bottom: 0.7rem;
				border-radius: 0.5rem;
				overflow: hidden;
			}
		}
	}
	&__row2 {
		.row2__head {
			padding: 1.6rem 0.4rem 0.6rem 1.8rem;
			.row2__subtitle {
				display: block;
				margin-bottom: 0.3em;
				font-size: 0.75rem;
				color: $text-secondary;
			}
			h3 {
				margin-bottom: 0.3em;
				font-weight: 500;
				font-size: 1.6rem;
				span {
					margin-left: 0.4rem;
					color: $text-secondary;
					font-size: 0.8rem;
					line-height: 1.5;
				}
			}
			.row2__rating {
				display: flex;
				flex-wrap: wrap;
				gap: 20px;
				color: $text-secondary;
				font-size: 0.8rem;
				line-height: 1.2rem;
				vertical-align: middle;
			}
		}
		.row2__content {
			display: grid;
			grid-template-columns: 1fr 250px;
			padding: 1rem 1.8rem 1.4rem;
			.row2__menu {
				display: flex;
				position: relative;
				width: max-content;
				margin-bottom: 1rem;
				font-size: 0.6rem;
				li {
					position: relative;
					padding: 0.4rem 0.7rem;
					color: #f5f5f5;
					border-radius: 0.4rem;
					overflow: hidden;
					text-align: center;
				}
				li::before {
					content: "";
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					opacity: 0;
					background-color: rgba(128, 128, 128, 0.1);
					transition: all 0.2s ease;
				}
				li:hover::before {
					opacity: 1;
				}
				a {
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					color: inherit;
					cursor: pointer;
				}
				.row2__link {
					border-bottom: 2px solid #1976d2;
					color: #1976d2;
				}
			}
			.row2__text {
				font-size: 0.8rem;
				font-weight: 400;
				line-height: 1.6;
			}
		}
		.row2__chapters {
			.chapters__list {
				display: grid;
				gap: 0.4rem;
				li {
					position: relative;
					display: flex;
					justify-content: space-between;
					padding: 0.6rem 1rem;
					background-color: hsla(0, 0%, 55%, 0.05);
					border-radius: 0.3rem;
					.list__name {
						display: flex;
						gap: 0.9rem;
						.volume {
							font-weight: 600;
							font-size: 0.9rem;
							color: $text-secondary;
						}
						.name {
							font-size: 0.8rem;
						}
					}
					.list__create {
						font-size: 0.7rem;
						color: $text-secondary;
					}
				}
			}
		}
	}
}
